@keyframes pulse-glow {
  0% {
    box-shadow: 0 0 0 0 #1e90ff;
  }
  50% {
    box-shadow: 0 0 0 2px #74baff;
  }
  100% {
    box-shadow: 0 0 0 0 #1e90ff;
  }
}

.search-bar-container {
  width: 90%;
  max-width: 1080px; /* Optional: Sets a max-width for desktop view */
  margin: 0 auto;
  padding: 10px; /* Adds some spacing from the screen edges */
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 92%;
  transform: translate(-50%, -50%);
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f0f4f9; /* Light gray background */
  border-radius: 28px; /* High value for pill-shaped corners */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05); /* Subtle shadow */
  padding: 8px 16px;
  box-sizing: border-box;
  border: 1px solid #6cb5ff;
  opacity: 0.9;
  animation: pulse-glow 2s infinite;
}

.search-bar-disabled {
  animation: none;
  border: 1px solid #bbbbbb;
}

.search-input {
  width: 100%;
  flex-grow: 1;
  border: none;
  background: none;
  padding: 8px;
  font-size: 1rem;
  outline: none;
  font-family: 'Google Sans', sans-serif; /* For a closer look to Gemini's font */
}

.disabled {
  color: #9b9b9b;
}

.search-input::placeholder {
  color: #707070;
}

.search-bar-icon,
.search-bar-actions {
  display: flex;
  align-items: center;
}

.icon {
  fill: #707070;
  width: 24px;
  height: 24px;
  display: block;
}

.search-bar-icon {
  margin-right: 12px;
}

.action-button {
  border: none;
  background: #1e90ff;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s;
  animation: pulse-glow 2s infinite;
}

.action-button:hover {
  background-color: #6cb5ff; /* Light hover effect */
}

.action-button .icon {
  fill: white;
}
